*~
.sass-cache/*
.DS_Store
.cqdirectory
.vlt
.repository
*.vlt
*.iml
*.iws
*.ipr
*.log
.idea/
.idea/*
target/
release.properties
*/bin/
.metadata/*
**/*.settings
**/*.project
**/*.classpath
**/node_modules/*